
.d-flex button{
    margin: 1.5em 0.5em;
    padding: 0.3em 1.4em;
}

.d-flex table{
    margin: 1em 10em;
}

table .btnedit{
    color: rgb(3, 95, 241);
    cursor: pointer;
}

.success{
    background-color: rgb(144, 227, 238);
    padding: 1em;
}

.error{
    background-color: rgb(172, 33, 9);
    padding: 1em;
}